extends layouts/main

block content
    .form__container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="Full Name" require=true)
            input(type="email", name="email", placeholder="Email" require=true)
            input(type="password", name="password", placeholder="password" require=true)
            input(type="password", name="password2", placeholder="verifiy password" require=true)
            input(type="submit", value="Join In")
    include partials/socialLogin